<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    <div>
        <%- message %>
    </div>
    <br>
    <img class="errorImg" src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExd2ZsM2liOXRla2NyeG83NmtkOGE0cDE4a3ZoZ3pjbHZ3aXZiNWY1ZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/pynZagVcYxVUk/giphy.gif" 
    alt="lost in the web">